.apresentation img{
    width: 100%;
}
.apresentation .line{
    border-top: none;
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
    box-sizing: border-box;
    height: 1rem;
}
#text{
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    padding-top:  2rem;
    margin-bottom: 10rem;
    color: var(--color-font);
    background-color: var(--color-background);
    font-family: Archivo;
    font-weight: 700;
    font-size: 3vw;
}
    

#text h2 {
    text-decoration: underline;
    font-size: 2em;
    margin-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;

    
}
#text p {
    margin-left: 2rem;
    margin-right: 2rem;
    white-space: normal;
    word-wrap: break-word;
    margin-bottom: 0.5rem;
}
#text p strong{
    color: var(--color-font-strong);
    text-decoration: underline;
}

#text img{
    width: 15%;
    border-radius: 100rem;
    border: 0.3rem solid var(--color-secondary);
    margin-left: 3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
#text .alinhamento {
    display: flex;
    align-items: center;
    justify-content: right;
}

@media(min-width: 900px){
    #text{
        width: 50%;
        font-size: 1.5vw;
    }
}